@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    overflow-x: hidden;
}

.aftl-right-section{
  margin-left: 5%;
}



@layer utilities {
  .textShadow {
    text-shadow: -3px 3px 0 red;
  }
}
